body{
    background-color: rgb(20,23,22);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
}

#grid-container{
    position: relative;
    left:50%;
}

#grid{
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    min-width:500px;
    max-width: 500px;
    min-height:500px;
    max-height: 500px;
    transform: translate(-50%);
}


.gridCell{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(48, 48, 48, 0.383);
}

.button{
    position: relative;
    left:50%;
    width: 200px;
    text-align: center;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(145, 126, 162);
    transition: all 0.75s ease;
    color: aliceblue;
    border-radius: 15px;
    display: block;
}

.button:hover{
    background-color: rgb(103, 88, 117);
}

#eraseButton{
    background-color: brown;
}