
#grid{
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    min-width:256px;
    max-width: 256px;
    min-height:256px;
    max-height: 256px;
}


.gridCell{
    background-color: rgba(255, 255, 255, 0.8);
}




/* .grid{
    display:flex;
    position: relative;
    min-width: 1000x;
    min-height: 1000px;
}

.gridRow{
    position: relative;
    display: flex;
    flex-direction: row;
    transform: translate(-50%);
}

.gridRow .gridCell{ 
    flex:10%;


}

.gridCell{
    background-color : rgb(13, 13, 13);
}

.gridCell:hover{
    background-color: aqua;
}

#button{
    position: relative;
    left:50%;
    width: 200px;
    text-align: center;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(145, 126, 162);
    transition: all 0.75s ease;
    color: aliceblue;
    border-radius: 15px;
    
}

#button:hover{
    background-color: rgb(103, 88, 117);
} */